[Desktop Entry]
Name=Kerything
Exec=kerything
Icon=kerything
Type=Application
Categories=Utility;FileTools;
GenericName=Device Filename Search
Comment=Fast NTFS and EXT4 filename search using raw metadata indexes
Terminal=false
StartupWMClass=kerything
