[Desktop Entry]
Name=Oxidex
Exec=oxidex
Icon=oxidex
Type=Application
Categories=Utility;FileTools;
GenericName=Device Filename Search
Comment=Fast NTFS, EXT3, EXT4, and Btrfs filename search using raw metadata indexes
Terminal=false
StartupWMClass=oxidex
